<a href="https://colab.research.google.com/github/Zaid-Azam/Python-Basics/blob/main/Copy_of_Day2_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
# Drawing a triangle using print function.
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [ ]:
# example of why the order of instructions matters.
print("/___|")
print("   /|")
print("  / |")
print(" /  |")

/___|
   /|
  / |
 /  |

In [ ]:
# Writing my short story.
print("I am Zaid Azam.")
print("My Age is 30.")
print("I am trying to learn Python.")
print("My life goal is to become top tier AI driven Data Scientist.")

I am Zaid Azam.
My Age is 30.
I am trying to learn Python.
My life goal is to become top tier AI driven Data Scientist.

In [ ]:
# writing multiple strings in a single print function using ','
print("I am Zaid Azam.","My Age is 30.","I am trying to learn Python.","My life goal is to become top tier AI driven Data Scientist.")

I am Zaid Azam. My Age is 30. I am trying to learn Python. My life goal is to become top tier AI driven Data Scientist.

In [ ]:
# other way of writing multiple string in print function using '+' sign
print("I am Zaid Azam."+"My Age is 30."+"I am trying to learn Python."+"My life goal is to become top tier AI driven Data Scientist.")

I am Zaid Azam.My Age is 30.I am trying to learn Python.My life goal is to become top tier AI driven Data Scientist.

In [ ]:
#correcting the space after full stop.
print("I am Zaid Azam." + "My Age is 30." + "I am trying to learn Python." + "My life goal is to become top tier AI driven Data Scientist.")

I am Zaid Azam.My Age is 30.I am trying to learn Python.My life goal is to become top tier AI driven Data Scientist.

In [ ]:
# trying again to add the spaces after periods in printed strings
print("I am Zaid Azam. "+"My Age is 30. "+"I am trying to learn Python. "+"My life goal is to become top tier AI driven Data Scientist.")

I am Zaid Azam. My Age is 30. I am trying to learn Python. My life goal is to become top tier AI driven Data Scientist.

# **Variables and Basic Data** **Types**

Now, what if, character name such as Zaid Azam or the age of the character changes or in different scenarios one may be asked to change any thing in one's code. So, it would be difficult or time consuming to change each line of code. Here comes the variable for this kind of scenerios.
## A **variable** is like a container in our program which store data of different types.

In [ ]:
# Introduce variable for characters name and age
character_name = "Zaid Azam"
character_age = "30"
print("I am", character_name , "My Age is", character_age,"I am trying to learn Python.","My life goal is to become top tier AI driven Data Scientist.")

I am Zaid Azam My Age is 30 I am trying to learn Python. My life goal is to become top tier AI driven Data Scientist.

In [ ]:
# Note that the sentences run together because there's no period after "Zaid Azam" or "30". Here's how to fix that:

# Method 1: Modify the strings within the print() function
# We add + "." after both character_name and character_age inside the print() function.
# This concatenates (joins) the variable's value with a period, creating the desired sentence structure.
character_name = "Zaid Azam"
character_age = 30 # we don't need to write it in appostrophe.
print("I am", character_name+".", "My Age is", character_age+".", "I am trying to learn Python.","My life goal is to become top tier AI driven Data Scientist.")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Error:** The error message "TypeError: unsupported operand type(s) for +: 'int' and 'str'" indicates that you're trying to use the + operator to combine an integer and a string directly, which Python doesn't allow.

In your code, character_age is an integer (30), and you're attempting to concatenate it with a string (".") using + in the print function.

**Solution**: To fix this, you need to convert the integer to a string before concatenating it.

In [ ]:
#
character_name = "Zaid Azam"
character_age = 30
print("I am", character_name + ".", "My Age is", str("character_age") + ".", "I am trying to learn Python.","My life goal is to become top tier AI driven Data Scientist.")

I am Zaid Azam. My Age is character_age. I am trying to learn Python. My life goal is to become top tier AI driven Data Scientist.

In [ ]:
# In above case I did not get exact value age, now let's try again by removing appostrphe in str function
character_name = "Zaid Azam"
character_age = "30"
print("I am", character_name + ".", "My Age is", str(character_age) + ".", "I am trying to learn Python.","My life goal is to become top tier AI driven Data Scientist.")

I am Zaid Azam. My Age is 30. I am trying to learn Python. My life goal is to become top tier AI driven Data Scientist.

**Summary about variable (int or float) and string function:**
Don't use apostrophes/quotes around the variable name inside str() when you want to access the variable's value.
Use quotes only when you want to create a literal string (e.g., "Hello").

In [ ]:
character_name = "Zaid Azam"
character_age = 30
print("I am" + character_name + ".")
print("My Age" + str(character_age) + ".")
print("I am trying to learn Python.")
print("My life goal is to become top tier AI driven Data Scientist.")

I amZaid Azam.
My Age30.
I am trying to learn Python.
My life goal is to become top tier AI driven Data Scientist.

In [ ]:
# debugging
character_name = "Zaid Azam"
character_age = 30
print("I am " + character_name + ".")
print("My Age is " + str(character_age) + ".")
print("I am trying to learn Python.")
print("My life goal is to become top tier AI driven Data Scientist.")

I am Zaid Azam.
My Age is 30.
I am trying to learn Python.
My life goal is to become top tier AI driven Data Scientist.

In [ ]:
# change variable
character_name = "FAhad"
character_age = 32
print("I am " + character_name + ".")
print("My Age is " + str(character_age) + ".")
print("I am trying to learn Python.")
print("My life goal is to become top tier AI driven Data Scientist.")

I am FAhad.
My Age is 32.
I am trying to learn Python.
My life goal is to become top tier AI driven Data Scientist.

In [ ]:
# using '+' sign writing multiple strings in single print functions and using concept of variables.
character_name = "Zaid Azam"
character_age = 30
print("I am " + character_name + ". " + "My age is " + str(character_age) +". " + "I am trying to learn python. " + "My life goal is to become a top tier AI driven Data scientist.")

I am Zaid Azam. My age is 30. I am trying to learn python. My life goal is to become a top tier AI driven Data scientist.