<a href="https://colab.research.google.com/github/Zaid-Azam/Python-Basics/blob/main/Day4_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Working with numbers in python:**

In [58]:
# print any number.
print(12)

# print any decimal number.
print(12.57)

12
12.57

In [59]:
# perform basic arthematic operations on any two numbers.
# addition: add 17 and 15
print(17 + 15)

# subtraction: subtract 13 from 9
print(13 - 9)

# Multiplication: multiply 11 and 17
print(11 * 17)

# Division: devide 12 by 6
print(12 / 6)

32
4
187
2.0

In [60]:
# specify order of operation.
print(7 * 8 + 6)

# now using paranthesis to specify order of operations
print(7 * (8 + 6))

62
98

In [61]:
# using modulus operator (%) (also called mod) to get remainder in the division
print(17 % 5)

2

In [62]:
# using variables finding remainder
x = 17
y = 5
print(x % y)

2

In [63]:
# coverting number into string.
num = 15
print(str(num))

15

Note that we use this function to print a number along with a string. If we directly print a number with the string we will get error in our code.

In [64]:
# print number and string together
num = 24
print("My favourite number is " + str(num) +".")

My favourite number is 24.

In [65]:
# see if it can directly print a number and string together without using function str()
num = 24
print("My favourite number is " + num +".")

# here, we get the following error.

TypeError: can only concatenate str (not "int") to str

**Some common/basic math function:**

In [66]:
# using absolute function 'abs()', find absolute value of '-14'
print(abs(-14))

14

In [67]:
 # using power function 'pow()', find value of 3 exponent 2.
 print(pow(3, 2))

# also find 2 exponent 3.
print(pow(2, 3))

9.0
8.0

In [68]:
# geting the biggest number using max function 'max()'.
print(max(4, 6, 8, 10, 12))

12

In [69]:
# geting the smallest number using function 'min()'.
print(min(4, 6, 8, 10, 12))

4

In [70]:
# rounding of data using function 'round()'.
print(round(4.7))
print(round(4.4))
print(round(4.5))
print(round(3.5))

5
4
4
4

In [71]:
# write all in single print function.
print(round(4.7), round(4.4), round(4.5), round(3.5), round(5.5))

5 4 4 4 6

To access specific fuctions we have to import python math using code:



```
from math import *
```

In [72]:
# use code : from math import * also with that using some functions.

from math import *

# floor function: It grabs the lowest value/number
print(floor(3.7))
print(floor(3.4))
# ceil function: It grabs the highest value/numbe. Whatever the value would be it will always give the highest number.
print(ceil(3.7))
print(ceil(3.4))
# sqrt function: It will give the square root of the given value.
print(sqrt(36))
print(sqrt(25))

3
3
4
4
6.0
5.0