<a href="https://colab.research.google.com/github/Zaid-Azam/Python-Basics/blob/main/Day5_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Getting input from users:**

In [ ]:
# Ask user their name and say Hello.
name=input("Whats your name? ")
print("Hello, " + name + "!")

Whats your name? Zaid
Hello, Zaid!

In [ ]:
# Ask user their name and age and say whatever you see fit
name=input("What's your name? ")
age=input("What's your age? ")
print("Hey, " + name + "! you are " + age + ", and still you are so funny.")

What's your name? Junaid
What's your age? 65
Hey, Junaid! you are 65, and still you are so funny.

In [ ]:
# Ask and chat with user
name=input("What's your name? ")
print("Nice to meet you, " + name + "!")
wish= input("What's on your mind? ")
print("Don't think too much about " + wish + ".")

What's your name? Zaid
Nice to meet you, Zaid!
What's on your mind? failures.
Don't think too much about failures..

In [ ]:
# write a program where whatever the user text or ask and system generates a msg in reponse showing price of your product or services
# show user the price of netflix accounts
input("")
print("Welcome to the cineplax platform. We offer the best rate for netflix screens. Here are our offers:\n1. 1 momth = 300 per screen.\n2. 6 months = 1200 per screen.")

hey i wnat know the price
Welcome to the cineplax platform. We offer the best rate for netflix screens. Here are our offers:
1. 1 momth = 300 per screen.
2. 6 months = 1200 per screen.

# Building a basic calculator:

In [ ]:
# build a calcultor that adds two integer number:
num1=input("Enter an integer number ")
num2=input("Enter another integer number ")
result= int(num1) + int(num2)   # here we have to use int() function to use it as a number/integer, b/c whatever the input number is python will take it as a string by default.
print(result)

Enter an integer number 6
Enter another integer number 7
13

In [ ]:
# build a calcultor that adds any two numbers:
num1=input("Enter a number ")
num2=input("Enter another number ")
result= float(num1) + float(num2) # here we have to use float() function to use it as a decimal number, b/c whatever the input number will be python will take it as a string by default.
print(result)

Enter a number 479364767
Enter another number 647863746
1127228513.0

In [ ]:
# build a calcultor that adds any two numbers:
num1=input("Enter a number ")
num2=input("Enter another number ")
result= float(num1) + float(num2)
print("Result: " + str(result)) # we can only concate string with string not with float or int. That's why I have used str function.

Enter a number 32.34
Enter another number 54.23
Result: 86.57

# **Basics of lists in python:**
List allows us to organise bunch of data values and keep track of them.

In [ ]:
#introduce a list and give it a descriptive name. For list we use []
friends = ["Junaid", "Fahad", "Usaid"]
print(friends)
# Data we can put inside a list: It can be strings, numbers, and booleans. Python is fine with that.
relatives = ["Junaid", "Fahad", "Usaid", 1, 2, 3, True, False]
print(relatives)

['Junaid', 'Fahad', 'Usaid']
['Junaid', 'Fahad', 'Usaid', 1, 2, 3, True, False]

In [ ]:
# access individual elements inside of the list:
# each element has a particular index. If we want to find or print a specific element we use its index.
friends = ["Junaid", "Fahad", "Usaid"]
print(friends[0])
print(friends[1])
print(friends[2])

#also access elements from the back or end of the list.
print(friends[-1])
print(friends[-2])
print(friends[-3])

#note that here we it starts with -1 not 0 or -0
#hence we can access an element from both sides.

Junaid
Fahad
Usaid
Usaid
Fahad
Junaid

In [ ]:
# specify the range of elements in the list which needs to be selected.
# print from fahad to musaib
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
print(friends[1:4]) # here it won't select or grab index 4 but it means upto index 4

# leave junaid and grab the rest to print
print(friends[1:])

# leave the first two friends
print(friends[2:])

#leave last two friends and grab the rest
print(friends[:3])
# you can also print it as
print(friends[:-2])

# modify a friend's name (at index 2) in the list and select that one to print
friends[2] = "Waleed"
print(friends[2])

['Fahad', 'Usaid', 'Musaib']
['Fahad', 'Usaid', 'Musaib', 'Hamza']
['Usaid', 'Musaib', 'Hamza']
['Junaid', 'Fahad', 'Usaid']
['Junaid', 'Fahad', 'Usaid']
Waleed

# **Some Basic List Functions:**

Extend Function: Extend function basically allows you to take a list and append another list onto the end of it.

In [ ]:
# use extend function
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
friends.extend(lucky_numbers)
print(friends)

['Junaid', 'Fahad', 'Usaid', 'Musaib', 'Hamza', 4, 8, 15, 16, 23, 42]

In [ ]:
 # append individual item to the end of the available list uusing append function.
 # append function is always going to add the item onto the end of the list.
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
friends.append("Waleed")
print(friends)

['Junaid', 'Fahad', 'Usaid', 'Musaib', 'Hamza', 'Waleed']

In [ ]:
# use insert function and add an item some where in between the list.
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
# insert Zaryab at index position 2.
friends.insert(2, "Zaryab")
print(friends)

['Junaid', 'Fahad', 'Zaryab', 'Usaid', 'Musaib', 'Hamza']

In [ ]:
# remove an item or value from the list.
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
# remove Hamza from the list
friends.remove("Hamza")
print(friends)

['Junaid', 'Fahad', 'Usaid', 'Musaib']

In [ ]:
# Get rid of each value or item from the list or remove every value.
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
friends.clear()
print(friends)

[]

In [ ]:
# pop an item from the list using pop function.
# it get rid of the last element inside the list.
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
friends.pop()
print(friends)

['Junaid', 'Fahad', 'Usaid', 'Musaib']

In [ ]:
# figure out certain value or element in the list. See if my friend Usaid was on the list.

friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
print(friends.index("Usaid")) #It will give the index number of an item or value.

# see what happens if a friend's name is not on the list.
print(friends.index("Hyder")) # we will get the error.

2

ValueError: 'Hyder' is not in list

In [27]:
# Sort the list.
# it will sort the list in ascending order or an alphbetical order.It will arrange the list in order.
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
lucky_numbers = [4, 8, 15, 16, 23, 21]
friends.sort()
lucky_numbers.sort()
print(friends)
print(lucky_numbers)

['Fahad', 'Hamza', 'Junaid', 'Musaib', 'Usaid']
[4, 8, 15, 16, 21, 23]

In [29]:
# reverse the order of the values in the list
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
lucky_numbers = [4, 8, 15, 16, 23, 21]
friends.reverse()
lucky_numbers.reverse()
print(friends)
print(lucky_numbers)

['Hamza', 'Musaib', 'Usaid', 'Fahad', 'Junaid']
[21, 23, 16, 15, 8, 4]

In [30]:
# copy the list using copy function. It will basically make the copy of the list.
friends = ["Junaid", "Fahad", "Usaid", "Musaib", "Hamza"]
best_friends = friends.copy()
print(best_friends)

['Junaid', 'Fahad', 'Usaid', 'Musaib', 'Hamza']